@font-face 
{
    font-family: 'Raleway-Medium';
    src: url('/src/Font/Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Raleway-Medium', 'droid_sansregular', 'Arial', sans-serif;
    min-height: 100vh;
    width: 90vw;
    max-width: 1720px;
    position:relative;
    padding: 0 5vw;
}

#logo{
    max-height: 80px;
    height: 6vh;
    width: auto;
    text-align: left;
}

img {
	max-width: 100%;
	height: auto;
}

.bodyFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

/* ****************** */
/* Menu bar with logo */
/*                    */
.mainHeader {
	display: flex;
	align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Sign up */
.mainHeader h1
{
    margin-right: auto;
    font-size: 1.3em;
    padding: 1em 0 1em 0;
}

/* Navigation */
.mainNavigation ul {

    text-align: center;
}

.mainNavigation li {
    display: inline-block;
    width: 10vw;
    min-width: 170px;
    font-size: 1.3em;
}

.mainNavigation a {
	display: inline-block;
	padding: 1em 0 0 0;
}

/* Navigation : pseudo-formating */
.mainNavigation a{
    text-decoration: none;
}

.mainNavigation li a:visited{
    color: black;
    text-decoration: none;
}

.mainNavigation li:hover{
    border-top: 4px solid #0065FC;
}

.mainNavigation li a:hover{
    color: #0065FC;
}


/* Filter */
.filter{
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 187, 0);
}

.filter div{
    flex: 1;
    background-color: chartreuse;
}

/* Main */
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

/* Accommodations */
.accommodations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2;
    width: 60%;
    border-radius: 2%;
    height: 500px;
}

.accommodations div{
    flex: 1;
    min-width: 25%;
    background-color: chocolate;
    margin: 2%;
}

.accommodations h2, .accommodations h3
{
    width: 100%;
    height: min-content;
}

/* Most Popular */
.mostPopular{
    display: flex;
    flex-direction: column;
    background-color: #F2F2;
    width: 30%;
    border-radius: 2%;
    height: 500px;
}

.mostPopular div{
    flex: 1;
    background-color: chocolate;
    margin: 4%;
}

/* Activites */
.activities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.activities div{
    flex: 1;
    background-color: chocolate;
    padding: 12px;
}

.activities h2{
    width: 100%;
}

/* Footer */
.item:nth-child(9){
    width: 100%;
    background-color: #F2F2;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2;
    justify-content: space-around;
    align-content: center;
}

.footer div{
    flex: 1;
    background-color: blanchedalmond;
}