@font-face 
{
    font-family: 'Raleway-Medium';
    src: url('/src/Font/Raleway-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}



body
{
    font-family: 'Raleway-Medium', 'droid_sansregular', 'Arial', sans-serif;
    min-height: 100vh;
    width: 80vw;
    min-width: 800px;
    max-width: 1720px;
    margin: auto;
}

#logo{
    max-height: 80px;
    height: 6vh;
    width: auto;
    text-align: left;
}

img {
	max-width: 100%;
	height: auto;
}

/* Main flex container */
.bodyFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;

}

/* ****************** */
/* Menu bar with logo */
/*                    */
.mainHeader {
	display: flex;
	align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Sign up */
.mainHeader h1
{
    margin-right: auto;
    font-size: 1.3em;
    padding: 1em 0 1em 0;
}

/* Navigation */
.mainNavigation ul {

    text-align: center;
}

.mainNavigation li {
    display: inline-block;
    width: 10vw;
    min-width: 170px;
    font-size: 1.3em;
}

.mainNavigation a {
	display: inline-block;
	padding: 1em 0 0 0;
}

/* Navigation : pseudo-formating */
.mainNavigation a{
    text-decoration: none;
}

.mainNavigation li a:visited{
    color: black;
    text-decoration: none;
}

.mainNavigation li:hover{
    border-top: 4px solid #0065FC;
}

.mainNavigation li a:hover{
    color: #0065FC;
}

/* ****************** */
/*     Search Bar     */
/*                    */
.searchBar{
	display: flex;
	align-items: center;
    justify-content: flex-start;

    height: 2.3rem;
}

/* Icone */
.searchBar i{
    background-color: rgb(242,242,242);
    height: inherit;
    width: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    border: 1px solid  rgb(242,242,242);
}

/* Textbox */
.searchBar input{
    border: 0;
    font-size: 1em;
    font-weight: bold;
    color: black;
    
    padding: 0;
    padding-left: 1rem;
    height: inherit;

    border-top: 1px solid  rgb(242,242,242);
    border-bottom: 1px solid rgb(242,242,242);
}

.searchBar input:focus{
    outline: none;
}

/* Search button */
.searchBar button{
    background-color: #0065FC;
    color: white;
    font-size: 0.9em;

    height: inherit;
    width: 4rem;

    border-bottom-right-radius: 6%;
    border-top-right-radius: 6%;
    border: 0;
}

.searchBar button:focus{
    border:0;
    outline: 0;
}

.searchBar button:active{
    border:0;
    outline: 0;
    border-bottom: 3px solid #0082fc;
    border-right: 3px solid #0082fc;
}

/* Premilary text */
.mainSearchBar{
    margin: 1em 0;
}
.mainSearchBar h2, .mainSearchBar p{
    margin: 0 0 0.4em 0;
}

/* ****************** */
/*       Filter       */
/*                    */
.mainFilter{
    display: flex;
    flex-direction: row;
    justify-items: left;
    align-content: center;
    align-items: center;

    margin-bottom: 0px;
}

/* Filter title */
.mainFilter h2{
    font-size: 1em;
    font-weight: bold;
    color: black;
}

/* Filter list */
.filterList{
    display: flex;
    justify-items: flex-start;
    align-content: center;

	list-style: none;
    flex-wrap: wrap;
    
    margin: 0;
}

/* Filter items */
.filterList li{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;

    padding-right: 0.7em;
    margin: 0.3em 1em;
    height: 2.2em;

    border-top: 2px solid  rgb(242,242,242);
    border-bottom: 2px solid rgb(242,242,242);
    border-right: 2px solid  rgb(242,242,242);
    border-radius: 2em;
}

/* Filter item icon */
.filterList i{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:#DEEBFF;
    color: #0065FC;

    width: 1.2em;
    height: 1.2em;

    margin-right: 0.5em;
    padding: 0.6em;
    border-radius: 50%;
}

/* Filter item icon : pseudo-code */
.filterList li:hover{
    color: #0065FC;
    background-color: rgb(242,242,242);

}

/* Info icon */
#infoIcon i{
    color: #0065FC;
    background-color: white;

    text-align: center;
    font-size: 0.8em;
    width: 1em;
    margin: 0 0 1em 0;
    
    margin: 1em 0;
    padding: 0.15em;
    border-radius: 50%;
    border: 1px solid rgb(242,242,242);
}

/* ****************** */
/*    Accommodation   */
/*                    */
.mainAccomodation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* AccommodationBox - column flex */
.accommodationBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;

    margin-right: 1em;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: rgb(242,242,242);
}

.accommodationBox h2, .accommodationBox h4{
    margin: 0;
    padding: 0.5em
}

/* AccommodationList - row flex */
.accommodationList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    list-style: none;
    flex-wrap:wrap;
    margin: 0;
    padding: 0;
}

/* AccommodationList - items */
.accommodationList li{
    background-color: white;

    box-shadow: 0px 0px 3px #BBBBBB;

    padding: 0.4em;
    margin: 1em 1em;
    border-radius: 1em;
}

/* AccommodationList - item title */
.accommodationList h3{
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.5em 0 0 0;
}

/* AccommodationList - item image */
.accommodationList li img{
    width: 16em;
    height: 8em;

    object-fit: cover;

    padding: 0;
    margin: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

/* AccommodationList - item descirption */
.accommodationList p{
    font-size: 0.9em;
    margin: 0.5em 0;
}

/* AccommodationList - item price */
.accommodationList li em{
    font-weight: bold;
    font-style: normal;
}

/* ****************** */
/*    Most Popular    */
/*                    */
.mostPopularBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;

    padding: 1em 2em;
    border-radius: 1em;
    background-color: rgb(242,242,242);
}

/* Most Popular Box - list title */
.mostPopularList h2{
    margin: 0;
    padding: 0.5em;
}

/* Most Popular Box - icone */
.mostPopularBox i{
    float: right;
}

/* Most Popular Box - List */
.mostPopularList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

/* Most Popular list - items */
.mostPopularList li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;

    box-shadow: 0px 0px 3px #BBBBBB;

    background-color: white;
    border-radius: 1em;
    margin: 0.6em 0;
    padding: 0.4em;
}

.mostPopularList li:nth-child(1){
    margin: 0;
    margin-bottom: 0.6em;
}

/* Most Popular list - items image */
.mostPopularList li img{
    width: 8em;
    height: 9em;
    object-fit: cover;

    padding: 0;
    margin: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

/* Most Popular list - items description */
.mostPopularInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0;
    margin-left: 1em;
    height: 9em;
}

.mostPopularInfo h3 {
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.mostPopularInfo .starRating{
    padding-bottom: 0.2em;
    margin: 0;
}

/* ****************** */
/*      Activites     */
/*                    */
.mainActivities{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 1em 0;
    padding: 0;
}

.mainActivities h2{
    margin: 0;
    padding: 0;
}

.activitiesList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    height: 35em;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.activitiesList li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    box-shadow: 0px 0px 3px #BBBBBB;

    width: 22%;

    border-radius: 1em;
}

.activitiesList li:nth-child(3n+1){
    height: 100%;
}

.activitiesList li:nth-child(2){
    height: 55%;
    max-height: 55%;
}

.activitiesList li:nth-child(3){
    height: 40%;
}

.activitiesList li:nth-child(n+5){
    height: 47%;
}

.activitiesList span{
    height: 100%;
    
    padding: 0;
    margin: 0;
}

.activitiesList img{
    display: inline-block;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activitiesList h3{
    padding-left: 1em;
    padding-bottom: 0;
    padding-top: 0.3em;
    margin: 0.4em;
    font-size: 0.7em;
    height: 2em;
}

/* ****************** */
/*       Footer       */
/*                    */
.mainfooter{
    display: flex;
    flex-direction: row;
    background-color:  rgb(242,242,242);
    justify-content: space-around;
    align-content: center;
    margin: 0;
    padding: 0.5em;
}

/* Footer - List */
.mainfooter ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Footer - List items */
.mainfooter li{
    margin: 0.5em;
}

/* Footer - titles */
.mainfooter em{
    font-weight: bold;
    font-style: normal;
}

/* Footer - Pseudo code */
.mainfooter li a{
    text-decoration: none;
    color: black;
}

.mainfooter li a:visited{
    text-decoration: none;
    color: rgb(100,100,100);
}

.mainfooter li a:hover{
    text-decoration: underline;
}


/* ****************** */
/*     Star rating    */
/*                    */
:root {
    --star-size: 1.5em;
    --star-color: rgb(242,242,242);
    --star-background: rgb(0,101,252);
  }

.starRating {
    --percent: calc(var(--rating) / 5 * 100%);
    
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; 
    line-height: 1;
}

.starRating::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ****************** */
/*   Media querries   */
/*                    */
@media only screen and (max-width: 1350px) {

    .mainAccomodation{
        flex-wrap: wrap;
    }
    .accommodationBox{
        width: 100%;
        margin-right: 0;
    }

    .accommodationBox{
        margin-bottom: 1em;
    }

    .accommodationList li img{
        height: 9em;
        width: 19em;
    }

    .mostPopularBox{
        width: 100%;
    }

}


